.Programs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* padding: 0 2rem; */
}
.programs-header {
    display: flex;
    gap: 6rem;
    font-weight: bold;
    font-size: 4rem;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;

}
.program-categories{
    display: flex;
    gap: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.category{
    display: flex;
    flex-direction: column;
    background-color: rgb(99, 91, 91);
    padding: 3rem;
    gap: 2rem;
    color: white;
    justify-content: space-between;
}

.category>:nth-child(1)
{
    width: 3rem;
    height: 3rem;
    /* fill: linear-gradient(53deg, rgba(0,157,233,1) 22%, rgba(0,255,42,1) 88%); */
    fill: white;
}

.category>:nth-child(2)
{
    font-size: 1.5rem;
    font-weight: bold;
}

.category>:nth-child(3)
{
    font-size: 1.2rem;
    line-height: 30px;
}

.join-now{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: white;
    font-weight: bold;
}

.join-now>img{
    width: 1.2rem;
}

.category:hover{
    background: var(--planCard);
    cursor: pointer;
}

@media screen and (max-width:768px){
    .programs-header{
        flex-direction: column;
        gap: 1rem;
        font-size: x-large;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    

    .program-categories{
        flex-direction: column;
    }
}